div.card-body {
  background-color: #f7f7f2;
}

/* button#controlledTabsWTF-tab-first.nav-link:active {
  background-color: #f7f7f2;
  border-bottom: none;
}

button#controlledTabsWTF-tab-companyInfo.nav-link:active {
  background-color: #f7f7f2;
  border-bottom: none;
} */

button#controlledTabsWTF-tab-first.nav-link.active {
  background-color: #f7f7f2;
  border-bottom-color: #f7f7f2;
}

button#controlledTabsWTF-tab-companyInfo.nav-link.active {
  background-color: #f7f7f2;
  border-bottom-color: #f7f7f2;
}
